extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            nav.archive.top.col-md-12
                .row
                    .col-xs-12.col-sm-10.col-md-10.col-lg-11.select-cat
                        a(href="program/2020/12/3809,3810,3811,3812,3814,5027")
                            .active
                                | Loeng
                                span.icon-checkmark
                        a(href="program/2020/12/623,3810,3811,3812,3814,5027")
                            .active
                                | Tants
                                span.icon-checkmark
                        a(href="program/2020/12/623,3809,3811,3812,3814,5027")
                            .active
                                | Performance
                                span.icon-checkmark
                        a(href="program/2020/12/623,3809,3810,3812,3814,5027")
                            .active
                                | Teater
                                span.icon-checkmark
                        a(href="program/2020/12/623,3809,3810,3811,3814,5027")
                            .active
                                | Muusika
                                span.icon-checkmark
                        a(href="program/2020/12/623,3809,3810,3811,3812,5027")
                            .active
                                | Video
                                span.icon-checkmark
                        a(href="program/2020/12/623,3809,3810,3811,3812,3814")
                            .active
                                | Näitus
                                span.icon-checkmark
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(href="program/2020/11/623,3809,3810,3811,3812,3814,5027")
                                    span ← November 2020
                            li.next
                                a(href="program/2021/1/623,3809,3810,3811,3812,3814,5027")
                                    span Jaanuar 2021 →
            .col-md-12
                .programme.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2 2020 Detsember
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 02.12.2020
                        p 18:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6858")
                                span.subtitle Baltoscandal 2020 esitleb:
                                span.artist Stefan Kaegi / Rimini Protokoll
                                span.name !!JÄÄB ÄRA!! Uncanny Valley (Õõvaorg)
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 02.12.2020
                        p 20:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6858")
                                span.subtitle Baltoscandal 2020 esitleb:
                                span.artist Stefan Kaegi / Rimini Protokoll
                                span.name !!JÄÄB ÄRA!! Uncanny Valley (Õõvaorg)
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 03.12.2020
                        p 18:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6858")
                                span.subtitle Baltoscandal 2020 esitleb:
                                span.artist Stefan Kaegi / Rimini Protokoll
                                span.name !!JÄÄB ÄRA!! Uncanny Valley (Õõvaorg)
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 03.12.2020
                        p 20:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6858")
                                span.subtitle Baltoscandal 2020 esitleb:
                                span.artist Stefan Kaegi / Rimini Protokoll
                                span.name !!JÄÄB ÄRA!! Uncanny Valley (Õõvaorg)
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 04.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6894")
                                span.name Kontsertsari IMPROTEST: SEEMNED / Improtest 15 Collective
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 5/8 EUR
                        p Kohapealt: 5/8 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 05.12.2020
                        p 19:30
                        p.today Esietendus!
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p esmaspäev
                        p 07.12.2020
                        p 19:30
                        p.today Täna!
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/sinu-nirvaanale" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p teisipäev
                        p 08.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/5099")
                                span.artist BIRGIT LANDBERG
                                span.producer Must Kast
                                span.name Peks mõisatallis / Tallinnas
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/17/25 EUR
                        p Kohapealt: 15/17/25 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletilevi.ee/est/piletid/teater/teater-must-kast-sunnipaev/must-kast-peks-moisatallis-tallinnas-314277/" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 09.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/5099")
                                span.artist BIRGIT LANDBERG
                                span.producer Must Kast
                                span.name Peks mõisatallis / Tallinnas
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/17/25 EUR
                        p Kohapealt: 15/17/25 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletilevi.ee/est/piletid/teater/teater-must-kast-sunnipaev/must-kast-peks-moisatallis-tallinnas-314278/" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 10.12.2020
                        p 19:00
                        p.today Esietendus!
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6871")
                                span.artist Henri Hütt & Algorütmid
                                span.name Cathexis
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3 teatrimaja
                        p TASUTA / FREE ENTRANCE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/henri-hutt-algorutmid-cathexis-esietendus" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 10.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/sinu-nirvaanale" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 11.12.2020
                        p 16:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6821")
                                span.subtitle Digikultuuriaasta seminar 2020:
                                span.name Puuris või pilves - kas teater saab olla võrgus?
                    .col-xs-6.col-md-2.col-lg-2
                        p.location ONLINE
                        p TASUTA / FREE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(target="_blank") Tasuta
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 11.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/sinu-nirvaanale" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 12.12.2020
                        p 17:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6871")
                                span.artist Henri Hütt & Algorütmid
                                span.name Cathexis
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3 teatrimaja
                        p TASUTA / FREE ENTRANCE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/henri-hutt-algorutmid-cathexis-esietendus" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 12.12.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6871")
                                span.artist Henri Hütt & Algorütmid
                                span.name Cathexis
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3 teatrimaja
                        p TASUTA / FREE ENTRANCE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/henri-hutt-algorutmid-cathexis-esietendus" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p pühapäev
                        p 13.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/sinu-nirvaanale" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p esmaspäev
                        p 14.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6091")
                                span.artist Karl koppelmaa
                                span.producer Teater KELM
                                span.name sest meid on õpetatud madusid kartma
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Püha Vaimu SAAL
                        p 12 - 30 EUR
                        p Kohapealt: 12 - 30 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletimaailm.com/performances/94263-sest-meid-on-opetatud-madusid-kartma?lang=et_EE" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p teisipäev
                        p 15.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6091")
                                span.artist Karl koppelmaa
                                span.producer Teater KELM
                                span.name sest meid on õpetatud madusid kartma
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Püha Vaimu SAAL
                        p 12 - 30 EUR
                        p Kohapealt: 12 - 30 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletimaailm.com/performances/94263-sest-meid-on-opetatud-madusid-kartma?lang=et_EE" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 16.12.2020
                        p 17:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6871")
                                span.artist Henri Hütt & Algorütmid
                                span.name Cathexis
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3 teatrimaja
                        p TASUTA / FREE ENTRANCE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/henri-hutt-algorutmid-cathexis-esietendus" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 16.12.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6871")
                                span.artist Henri Hütt & Algorütmid
                                span.name Cathexis
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3 teatrimaja
                        p TASUTA / FREE ENTRANCE
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/henri-hutt-algorutmid-cathexis-esietendus" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 16.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6180")
                                span.artist Renate Keerd
                                span.producer Tartu Uus Teater/Kompanii Nii
                                span.name LÄVI
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.uusteater.ee/lavastused/lavi" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 17.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6180")
                                span.artist Renate Keerd
                                span.producer Tartu Uus Teater/Kompanii Nii
                                span.name LÄVI
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.uusteater.ee/lavastused/lavi" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 18.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6180")
                                span.artist Renate Keerd
                                span.producer Tartu Uus Teater/Kompanii Nii
                                span.name LÄVI
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.uusteater.ee/lavastused/lavi" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 19.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6180")
                                span.artist Renate Keerd
                                span.producer Tartu Uus Teater/Kompanii Nii
                                span.name LÄVI
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15/19 EUR
                        p Kohapealt: 15/19 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.uusteater.ee/lavastused/lavi" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p pühapäev
                        p 20.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6865")
                                span.artist Karolin Poska
                                span.name Sinu nirvaanale
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/sinu-nirvaanale" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p esmaspäev
                        p 21.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6187")
                                span.artist Birgit Landberg
                                span.producer Must Kast
                                span.name Evolutsiooni revolutsioon
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15 - 25 EUR
                        p Kohapealt: 15 - 25 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletilevi.ee/est/piletid/teater/muusikal/must-kast-evolutsiooni-revolutsioon-65498/" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p teisipäev
                        p 22.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6187")
                                span.artist Birgit Landberg
                                span.producer Must Kast
                                span.name Evolutsiooni revolutsioon
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 15 - 25 EUR
                        p Kohapealt: 15 - 25 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletilevi.ee/est/piletid/teater/muusikal/must-kast-evolutsiooni-revolutsioon-65498/" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p esmaspäev
                        p 28.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6538")
                                span.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                                span.name Kas te olete oma kohaga rahul
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/kas-te-olete" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p teisipäev
                        p 29.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6538")
                                span.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                                span.name Kas te olete oma kohaga rahul
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/kas-te-olete" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 30.12.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6538")
                                span.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                                span.name Kas te olete oma kohaga rahul
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.free.disabled(href="https://fienta.com/et/s/kas-te-olete" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
            nav.archive.bottom.col-md-12
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(href="program/2020/11/623,3809,3810,3811,3812,3814,5027")
                                    span ← November 2020
