extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            nav.archive.top.col-sm-12.col-md-12.col-lg-12
                ul.pager
                    li.previous
                        a(href="tours/2020/10")
                            span ← Oktoober 2020
                    li.next
                        a(href="tours/2020/12")
                            span Detsember 2020 →
            .col-md-12
                .programme.row
                    #listd.col-xs-12.col-md-12.col-lg-12
                        h2 2020 November
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 04.11.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6538")
                                span.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                                span.name Kas te olete oma kohaga rahul
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.uusteater.ee/mangukava") Tartu Uus Teater, Lai 37
                        p 15/20 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary.disabled(href="https://fienta.com/et/s/kas-te-olete" target="_blank") Välja müüdud
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 05.11.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6538")
                                span.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                                span.name Kas te olete oma kohaga rahul
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.uusteater.ee/mangukava") Tartu Uus Teater, Lai 37
                        p 15/20 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/s/kas-te-olete" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 06.11.2020
                        p 22:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6672")
                                span.artist FORCED ENTERTAINMENT
                                span.name Kogutud teosed: lauapealne Shakespeare: Kodus
                                span.subtitle Ühisvaatamine Tartu Uues Teateris
                    .col-xs-6.col-md-2.col-lg-2
                        p
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.piletilevi.ee/est/meelelahutus/korraldajad/kanuti-gildi-saal-mtu-teine-tants/" target="_blank") Tasuta
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 07.11.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6375")
                                span.artist Karl Saks
                                span.town Tallinn
                                span.name Planet Alexithymia
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.uusteater.ee/mangukava") Tartu Uus Teater, Lai 37
                        p 15/20 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://fienta.com/et/karl-saks-12572" target="_blank") Osta pilet
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 12.11.2020
                        p 20:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6532")
                                span.artist ÜÜve-Lydia Toompere, Siim Tõniste
                                span.town Berliin/Tallinn
                                span.name supersocial
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.fastforw.art/supersocial?lang=en") Fast Forward, Dresden
                        p 11 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.staatsschauspiel-dresden.de/spielplan/monatsplan/2020-11/fast-forward/supersocial" target="_blank") Jääb ära!
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 13.11.2020
                        p 20:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6532")
                                span.artist ÜÜve-Lydia Toompere, Siim Tõniste
                                span.town Berliin/Tallinn
                                span.name supersocial
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.fastforw.art/supersocial?lang=en") Fast Forward, Dresden
                        p 11 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.staatsschauspiel-dresden.de/spielplan/monatsplan/2020-11/fast-forward/supersocial" target="_blank") Jääb ära!
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 14.11.2020
                        p 14:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6532")
                                span.artist ÜÜve-Lydia Toompere, Siim Tõniste
                                span.town Berliin/Tallinn
                                span.name supersocial
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.fastforw.art/supersocial?lang=en") Fast Forward, Dresden
                        p 11 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.staatsschauspiel-dresden.de/spielplan/monatsplan/2020-11/fast-forward/supersocial" target="_blank") Jääb ära!
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p pühapäev
                        p 15.11.2020
                        p 17:00
                    .col-xs-12.col-md-6.col-lg-6
                        h3
                            a(href="/et/performance/6532")
                                span.artist ÜÜve-Lydia Toompere, Siim Tõniste
                                span.town Berliin/Tallinn
                                span.name supersocial
                    .col-xs-6.col-md-2.col-lg-2
                        a(href="https://www.fastforw.art/supersocial?lang=en") Fast Forward, Dresden
                        p 11 EUR
                    .col-xs-6.col-md-2.col-lg-2.text-right
                        a.btn.btn-primary(href="https://www.staatsschauspiel-dresden.de/spielplan/monatsplan/2020-11/fast-forward/supersocial" target="_blank") Jääb ära!
                    .col-xs-12.col-md-12.col-lg-12
                        hr
            nav.archive.bottom.col-md-12
                .row
                    .col-sm-12.col-md-12.col-lg-12
                        ul.pager
                            li.previous
                                a(href="tours/2020/10")
                                    span ← Oktoober 2020
                            li.next
                                a(href="tours/2020/12")
                                    span Detsember 2020 →
