extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            .programme
                .col-xs-12.col-md-12
                    h2 Projektid
                    #accordion.projects-group.panel-group(role="tablist" multiselectable="true")
                        .panel
                            #heading-5689(role="tab")
                                h3
                                    a(data-toggle="collapse" data-parent="#accordion" href="#collapse-5689" aria-expanded="true" aria-controls="collapse-5689") MORE THAN THIS
                            #collapse-5689.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="heading-5689")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-6773" alt="morethanthis")
                                        br
                                        | MORE THAN THIS on koostööprojekt, mis seob omavahel 6 festivali ja kultuuriorganisatsiooni EL maadest - Prantsusmaalt, Itaaliast, Portugalist, Hispaaniast, Eestist ning 5 koostööpartnerit Palestiinast, Belgiast, Hispaaniast ja Prantsusmaalt.
                                        | Praegusel turbulentsel ajal, mil varjutakse oma piiride taha ja nähakse teisi piiratult lihtsustatult, muutuvad külalislahkus ja oskus arvesse võtta teiste komplekssust väga olulisteks mõisteteks. MORE THAN THIS pakub välja võimaluse läheneda nendele teemadele meie valdkonna ehk etenduskunstide vaatenurgast, võttes aluseks arusaama, et me kõik oleme liikumises või oleme sunnitud liikuma – nii kunstnikud kui kultuuritöötajad, nii institutsioonid kui publik, nii uurijad kui praktiseerijad ning ka etenduskunstide väli kui selline ise ning me peame olema üheskoos valmis seda aktsepteerima.
                                        | MORE THAN THIS on projekt, mis toob esile kaasaegsed etenduskunstid kui vahendi, mille abil on võimalik ümber mõtestada komplekssuse väärtust ning vaidlustada üksikute narratiivide ja fikseeritud identiteetide kristalliseerumist. Etenduskunstid kui sellised on perfektne mõtteruum, milles tegeleda külalislahkuse mõistega.
                                    p
                                        | MORE THAN THIS kaasatud kunstnikud:
                                        | Radouan Mriziga (Maroko), Maud Blandel (Šveits), Strasse (Itaalia), Karl Saks (Eesti), Teresa Silva (Portugal), Quim Bigas (Hispaania), Farah Saleh (Palestiina).
                                    p
                                        | MORE THAN THIS partnerid ja koostööpartnerid:
                                        br
                                        | L'Officina / Festival Dansem (Marseille), Parallèle (Marseille), AREA06 / Festival Short Theatre (Rome), Materiais Diversos (Minde), Asociación Cultural Gestus (Madrid), SAAL Biennaal / Kanuti Gildi SAAL (Tallinn) & Sarayyet – First Ramallah Group / Ramallah Contemporary Dance Festival (Ramallah), Aleppo (Bruxelles), Universidad Carlos III (Madrid), Matadero (Madrid), Camargo Foundation (Cassis).
                                    p Projekt saab teoks tänu Euroopa Liidu Kultuuriprogrammi toetusele.
                                    p
                                        a(href="https://morethanthis.eu/") www.morethanthis.eu
                                    p
                        .panel
                            #heading-5420(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-5420" aria-expanded="true" aria-controls="collapse-5420") FREIRAUM
                            #collapse-5420.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-5420")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-6211" alt="freiraum")
                                        br
                                    p
                                        br
                                        | Freiraum ehk Vabaruum on Goethe Instituudi algatatud projekt, millesse on kaasatud üle Euroopa 53 kohalikku partnerit kultuuri-, kunsti- ja teadusringkondadest ning kodanikuühiskonnast, kes tegelevad 40 linnas üle Euroopa küsimustega - mida tähendab vabadus tänapäeval? Freiraumi koostööpartnerid püstitasid projekti alguses oma kohalikust kontekstist tulenevalt vabadusega seotud küsimused, millest lähtudes püütakse vastastikku otsida vastuseid erinevate avalike sündmuste käigus 2018-2019 aastal.
                                    p
                                        | Goethe Instituut Tallinnas valis kohalikuks partneriks Eestis kaasaegse etenduskunstide keskuse Kanuti Gildi SAALi ja meie dialoogipartneriks projekti raames on ainsana Saksamaalt kaasatud organisatsioon Kunsthaus Dresden. Dresdeni linna kunstigalerii tõstatas küsimuse - olukorras kus linn ja avalik ruum on aina rohkem mõjutatud parempoolsete populistlike initsiatiivide poolt alates aastast 2014: mida saab kunst kui vabaduse keel teha käesoleval ängistuse ajal? Koostöös Goethe Instituudiga Tallinnas püstitas Kanuti Gildi SAAL küsimuse – kas me võime olla õnnelikud? keskendudes vabaduse ja vastutuse vahelistele suhetele ning era- ja avaliku elu positiivsetele aspektidele. Olles kogenud sajandeid välismaist okupatsiooni, väärtustades oma isiklikku vabadust, mis väljendub kõrgelt arenenud digitaalses infrastruktuuris ja positiivselt laetud vigadest õppimise kultuurist.
                                    p
                                        | Freiraum sündmused Dresdenis ja Tallinnas:
                                        br
                                        | 14.06-22.07.2018 Kunsthaus Dresden FREIHEIT ZUR FREIHEIT näitus Jaan Toomik / Marian Bogusz / Christa Jeitner
                                        br
                                        | 14-15.09.2018 Kanuti Gildi SAAL Freiraum Tallinn 1 - vabadusest: Isaac Chong Wai, Sarah Vanhee, Sven Johne, Eva Neklyaeva
                                        br
                                        | 3-28.10.2018 Kunsthaus Dresden FREIHEIT ZUR FREIHEIT II: Svea Duwe, Manaf Halbouni, Sven Johne, Daniel Kahn, Flo Kaesaru, Kristina Norman, Max Kowalewski, Raul Walch, Theatre NO99, Tools for Action, Jaan Toomik, Zentrum für Politische Schönheit
                                        br
                                        | 19.01.2019 Kanuti Gildi SAAL FREIRAUM TALLINN 2: POLIITIKAPIDU
                                        br
                                        | 2-3.03.2019 Kanuti Gildi SAAL FREIRAUM TALLINN 2: Erik Alalooga, Eva Mayer-Keller, Joanna Warsza
                                        br
                                    p
                                        a(href="www.goethe.de/freiraum") http://www.goethe.de/freiraum
                                        br
                                        a(href="kunsthausdresden.de") http://kunsthausdresden.de/
                                    p
                        .panel
                            #heading-5222(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-5222" aria-expanded="true" aria-controls="collapse-5222") UUE – Eesti kaasaegse (etendus) kunsti festival Helsingis
                            #collapse-5222.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-5222")
                                .main-text.h3
                                    p
                                    p
                                        | UUE – on võimalus kohtuda (21.-25.2.18) noorte, eelarvamusteta ning mõtlemapanevate kunstnikega Eestist! Kiasma Teater esitleb: Maria Metsalu, Iggy Lond Malmborg, Flo Kasearu, Kris Lemsalu ja SU—MU live ning Kristina Normani ja teater NO99 filmid.
                                        br
                                        a(href="http://www.kiasma.fi/theatre") www.kiasma.fi/theatre
                                    p
                        .panel
                            #heading-5223(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-5223" aria-expanded="true" aria-controls="collapse-5223") LATEST festival Riias
                            #collapse-5223.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-5223")
                                .main-text.h3
                                    p
                                    p
                                        | LATEST (15-18.02.18) kutsub avastama Eesti kaasaegset etenduskunsti, vaadeldes noorte kunstnike meeleolusid Eesti Vabariigi 100. aastapäeva pidustuste valguses ning lähemalt uurides Eesti ja Läti kunstnike koostööpotentsiaali. Programmi keskne üritus on Läti ja Eesti kunstnike kollektiivne produktsioon, millesse on kaasatud– lavastaja Valters Sīlis, kunstnik Kristina Norman, koreograafid Karolin Poska ja Joanna Kalm, helilooja Toms Auniņš, stsenograafid Epp Kubu ja Austra Hauks, dramaturg ja lavastaja Kāris Krūmiņš. Nende inspiratsiooniallikaks on Liivimaa etniline kogukond Läti ja Eesti riikide asutamise ja taasasutamise ajal. Külalisetenduste programmis on lisaks Juhan Ulfsaki, Iggy Lond Malmborgi, Kangro-Ulfsak-Epneri lavastused.
                                        br
                                        | Projekti algatajateks ja kaasprodutsentideks on Läti Uue Teatri Instituut ja Kanuti Gildi SAAL. See on osa Läti ja Eesti 100. sünnipäeva programmist. Toetavad Läti Kultuuriministeerium ja EV100.
                                    p
                                        a(href="http://theatre.lv/") theatre.lv
                                    p
                        .panel
                            #heading-5176(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-5176" aria-expanded="true" aria-controls="collapse-5176") ”Sünnipäevapidu” ja “Week End Estonien”
                            #collapse-5176.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-5176")
                                .main-text.h3
                                    p
                                    p
                                        | ”Sünnipäevapidu” (24-25.11.2017) ja “Week End Estonien” (15-16.12.2017) on Eesti kaasaegse etenduskunsti päevad FFT-s ja Nanterre-Amandiers teatris eesmärgiga luua kohalikele ärksameelsetele võimalus tutvuda Eestile eripärase käekirjaga kunstiga.
                                        br
                                        | Mõlema ürituse eripära seisneb selles, et nende päevade sisu sünnib vastavalt kohalikule kontekstile koostöös sealse partneriga. Sellised Eesti etenduskunsti päevad mittepealinnades viivad kohale meie põnevamad tulevikku vaatavad kohalikud kunstnikud, mõtlejad ja tegijad, kes kingivad “oma vindiga” loomingu sealsetele kultuurihuvilistele. Kaks etendus- ja visuaalkunstide nädalavahetust Düsseldorfis ja Nanterre’is on sulam etendustest, filmidest ning visuaal-muusikalistest elamustest mis kinnitab ühelt poolt 100. aastaseks saava Eesti iseenesestmõistetavat kuulumist Euroopa kultuuriruumi ning samas annab võimaluse tuua esile meie ainulaadsed eripärad.
                                        br
                                        | Düsseldorfi Forum Freies Theater’s astuvad üles etendustega Karl Saks, Maike Lond Malmborg, Kädi Metsoja. Kohalikus Filmwerkstattis saab näha NO99 dokumentaalfilmi “Kust tuleb tolm ja kuhu kaob raha” ning Daniel Vaarik vestleb e-residentsusest. Kontserdi annab Cubus Larvik koos VJ Emer Värgiga. Nanterre-Amadiersi teatrisse on kutsutud Kris Lemsalu, Lond Malmborg, Maria Metsalu ning ka seal saab näha NO99 filmi “Kust tuleb tolm ja kuhu kaob raha.”
                                    p
                                        a(href="https://fft-duesseldorf.de/") fft-duesseldorf.de/
                                        br
                                        a(href="https://www.nanterre-amandiers.com/") www.nanterre-amandiers.com/
                                    p
                        .panel
                            #heading-3958(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-3958" aria-expanded="true" aria-controls="collapse-3958") Urban Heat
                            #collapse-3958.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-3958")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-225" alt="Urban Heat")
                                    p
                                        | Urban Heat is a project developed by the Festivals in Transition (FIT) network of 13 international festival partners, supported by Creative Europe, which enables artists to engage with the invisible communities within cities. The four year project supports artists to develop and create daring and extraordinary work that connects with the world outside the arts by addressing urgent political and social issues, and by working with audiences and communities affected by those issues.
                                    p
                                        | The canvas for Urban Heat is cities. They are the physical framework of our society, the generator of civil values, the engine of our economy and the heart of much of our culture. But in the era of late capitalism they also feel increasingly unsustainable: economic migration has created an almost invisible underclass; poverty is pushing people to the edges; and issues ranging from mobility to the rise of faith-based communities are seeing cultures and communities becoming more segregated and less permeable.
                                    p
                                        | Urban Heat participants are 22 artists working in performance, theatre, dance and interdisciplinary who are open to experiment with the role of arts in the development of contemporary cities and to re-imagine how art could evoke change and support sustainability in the cities. Through a series of Academies and City Labs, which bring together artists, academics, faith leaders, political scientists and technologists, Urban Heat enables artists to develop their understanding of fundamental issues and challenges facing cities and their knowledge and skills in how to tackle them engaging in new forms of participatory arts practice and projects in response.
                                    p
                                        | Subsequent to these City Labs each partner festival will commission at least one participating artist to create a new work based on the themes of the programme. These works will engage a specific audience or community within each of the festival’s own locations and will be developed through close collaboration between the artist and partner festivals. The new works will be commissioned for presentation in the city art programmes at all participating festivals throughout 2016 and 2017.
                                    p Supported by the Creative Europe programme of the European Union.
                                    p
                                        | More detailed info:
                                        a(href="http://urbanheat.co") http://urbanheat.co
                                    p
                        .panel
                            #heading-3987(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-3987" aria-expanded="true" aria-controls="collapse-3987") GLOBAL CITY - LOCAL CITY
                            #collapse-3987.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-3987")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-226" alt="GLOBAL CITY - LOCAL CITY")
                                    p
                                        | GLOBAL CITY - LOCAL CITY is a network collaboration of the festivals SPIELART - Munich (GER), Baltic Circle International Theatre Festival - Helsinki (FIN), Homo Novus - Riga (LAT), August Dance Festival - Tallinn (EST), LIFT - The London International Festival of Theatre - London (UK), Bunker - Ljubljana (SLO) and Festival a/d Werf - Utrecht (NL). Associate partners are ALKANTARA Festival - Lisbon (POR) and Aalto University - Pori (FIN).
                                    p
                                        | GLOBAL CITY - LOCAL CITY is a project for the artistic exploration of the social, ecological, and political realities, and civic and social potentials in individual city quarters and of global city developments of the cities of the participating theatre and dance festivals.  GLOBAL CITY - LOCAL CITY  will create new performing art and other artworks making visible specific issues relevant to the residents of a city quarter, and examine new perspectives and options of action for European artists and festivals.
                                    p
                                        | Each festival will invite one to two locally rooted or festival-related artists to take part in the project. They will form a group, which will then work at all "CityLAB workshops" in every city of the participating festivals. Out of this group, each festival later on will choose one to two artists from another European country for a residency at its festival. The objectives of these residencies will be defined by each festival.
                                    p
                                        | Part of the project is the development of new local city artwork. The aim is to integrate artists into a wider range of European artistic exchange and collaboration, and to open a new discourse about the city and art interaction. A final publication will document the results. GLOBAL CITY - LOCAL CITY is an initiative of the network Theatre/Festivals in Transition (FIT) -
                                        a(href="http://www.theatrefit.org") http://www.theatrefit.org
                                        | .
                                    p Supported by the Culture Programme of the European Union.
                                    p
                        .panel
                            #heading-2136(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-2136" aria-expanded="true" aria-controls="collapse-2136") Samara
                            #collapse-2136.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-2136")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-224" alt="Samara")
                                    p
                                        | SAMARA on Baltimaade ja Põhja-Euroopa kaasaegse etenduskunsti võrgustik, mis loodi 8 rahvusvaheliselt aktiivse etenduskunsti organisatsiooni poolt:
                                    p
                                        | Kanuti Gildi SAAL (Eesti) -
                                        a(href="http://www.saal.ee/") http://www.saal.ee/
                                        | Baltic Circle/Q-teatteri (Soome) -
                                        a(href="http://www.q-teatteri.fi/baltic-circle/") http://www.q-teatteri.fi/baltic-circle/
                                        | Bora Bora (endine Entré Scenen) (Taani) -
                                        a(href="http://bora-bora.dk/") http://bora-bora.dk/
                                        | Lokal Festival (Island) -
                                        a(href="http://lokal.is/") http://lokal.is/
                                        | MDT (Rootsi) -
                                        a(href="http://mdtsthlm.se/about-mdt/") http://mdtsthlm.se/about-mdt/
                                        | Black BoxTeater (Norra) -
                                        a(href="http://www.blackbox.no/") http://www.blackbox.no/
                                        | Kampnagel (Saksamaa) -
                                        a(href="http://www.kampnagel.de/en/home/") http://www.kampnagel.de/en/home/
                                        | Nordwind Festival (Saksamaa) -
                                        a(href="http://www.nordwind-festival.de/2014/") http://www.nordwind-festival.de/2014/
                                    p
                                        | Põhja- ja Baltimaade etenduskunstiorganisatsioonid ühendavad jõud oma Euroopa kolleegidega, et võimaldada ruumi dialoogiks, kontaktide loomiseks ja kestvaks koostööks. Võrgustiku eesmärk on luua uusi kaasproduktsiooni- ja tuuritamisvõimalusi Põhja- ja Baltimaade tõusvatele kunstnikele.
                                    p
                                        | Vahtral (ingl. "samara") on sedasorti vili, mille seemet ümbritsevad külgedel asuvad lamedad tiivad. Selline kuju võimaldab tuulele seemned päritolupuust tavapärasest kõvasti kaugemale kanda. Loodame, et see võrgustik aitab kunstnikel ja praktikutel lisa tiivapaare arendada.
                                    p
                                        | Projekti toetab Põhja-ja Baltimaade mobiilsusprogramm Long-term Network Module'i kaudu Põhjamaade Ministrite Nõukogu ja Baltimaade kultuuriministrite finantseeringul.
                                    p
                                        a(href="http://www.kulturkontaktnord.org") http://www.kulturkontaktnord.org
                                    p
                        .panel
                            #heading-4622(role="tab")
                                h3
                                    a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapse-4622" aria-expanded="true" aria-controls="collapse-4622") Põhja- ja Baltimaade Mobiilsusprogrammi residentuurid
                            #collapse-4622.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading-4622")
                                .main-text.h3
                                    p
                                    p
                                        img(src="https://saal.entu.ee/api2/file-2142" alt="NoBaMo")
                                        br
                                        | Põhjamaade Ministrite Nõukogu loodud Põhja-Balti kultuuri mobiilsusprogrammi raames on Kanuti Gildi SAAL saanud toetust loovisikute residentuuride läbiviimiseks ajavahemikul 2009-2016. Tänu sellele on Kanuti Gildi SAALis toimetanud paljud kunstnikud, millest on välja kasvanud terve rida kaasproduktsioone ja koostöid erinevates formaatides ning selle eeskujul on sündinud ka residentuurid ka eestis tegutsevatele kunstnikele.
                                    p
                                        | Suvi-sügis 2009: Anna Dubrovska /LAT/, Päivi Vettenranta /FIN/, Milla Koistinen /FIN/, Alissa Šnaider /EST/, Jan Fedinger /FIN/
                                        br
                                        | Suvi-sügis 2010: Virva Talonen /FIN/, Sandra Z /EST/
                                        br
                                        | Suvi 2011: Veera Nevanlinna /FIN/, Juha Valkeapää /FIN/
                                        br
                                        | Suvi 2012: Christofer Eriksson /SWE/, Andrejs Jarovojs /LAT/, Kristine Vismane /LAT/
                                        br
                                        | Sügis-talv 2013: Juha Valkeapää /FIN/, Kaja Kann /EST/, Iggy Malmborg /SWE/
                                        br
                                        | Suvi 2014: Camilla Graff Junior /DEN/, Anni Klein /FIN/, Jarkko Partanen /FIN/
                                        br
                                        | Suvi 2015: Iggy Malmborg /SWE/
                                        br
                                        | Suvi 2016: Marika Lagercrantz /SWE/, Max Ehlund Goran /SWE/
                                        br
                                        | Talv 2018: Adriano Wilfert Jensen /DNK/, Alexandra Tveit /NOR/
                                        br
                                        | Kevad 2019: Alise Bokaldere /LVA/
                                        br
                                        | Sügis 2019: Marie Ursin /NOR/, Alexandra Tveit /NOR/
                                        br
                                        | Talv 2020: Liza Baliasnaja /LTU/
                                    p
                                        | lisainfo:
                                        br
                                        | KULTURKONTAKT NORD -
                                        a(href="http://www.kulturkontaktnord.org") http://www.kulturkontaktnord.org
                                        br
                                        | PÕHJAMAADE MINISTRITE NÕUKOGU ESINDUS EESTIS -
                                        a(href="http://www.norden.ee") http://www.norden.ee
                                    p
