extends /_templates/layout.pug

block content
    .container-fluid
        .row
            #front-carousel.event-banner.carousel.slide
                .carousel-inner(role="listbox")
                    figure(style='background-image: url("https://saal.entu.ee/api2/file-21116"); height: 777px;')
        .row.page-margin
            section.col-md-12
                .programme.row
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 13.11.2020
                        p 18:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6764")
                            h3
                                span.subtitle NU Performance Festival 2020: Keha leidmise hääl
                            span.artist Eglė Budvytytė, Egija Inzule, Margit Säde, Gerry Bibby, Jelena Glazova
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 13.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6768")
                            h3
                                span.subtitle NU Performance Festival 2020: Keha leidmise hääl
                            span.artist Egija Inzule, Margit Säde, Gerry Bibby, Jelena Glazova, Eglė Budvytytė
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 13.11.2020
                        p 21:00
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6771")
                            h3
                                span.subtitle NU Performance Festival 2020: Ühiste alguste hääl
                            span.artist Nancy Nakamura Räpipunt: liina pääsuke, IRMELI, MAAKAS, Ookean; Yasmyn
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sveta Baar
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 14.11.2020
                        p 21:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6776")
                            h3
                                span.subtitle NU Performance Festival 2020: Rütmis lahustumise hääl
                            span.artist Michele Rizzo
                            span.name NB! ETENDUS ALGAB KELL 21:30
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p pühapäev
                        p 15.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6778")
                            h3
                                span.subtitle NU Performance Festival 2020: Teisiku hääl
                            span.artist Erik Bünger
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p esmaspäev
                        p 16.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6780")
                            h3
                                span.subtitle NU Performance Festival 2020: Viimase lootuse hääl
                            span.artist Sveta Grigorjeva
                            span.name TEKHNE
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p teisipäev
                        p 17.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6783")
                            h3
                                span.subtitle
                                    | NU Performance Festival 2020:  Hääl läbi sajandite (koostöös NAC of Vilnius Academy of Arts)
                            span.artist Hiwa K, Egija Inzule, Vika Matuzaité
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p TASUTA / FREE ENTRANCE
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p kolmapäev
                        p 18.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6785")
                            h3
                                span.subtitle NU Performance Festival 2020: Mälu hääl
                            span.artist Ana Mendes, Lina Lapelyte
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p neljapäev
                        p 19.11.2020
                        p 19:00
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6774")
                            h3
                                span.subtitle NU Performance Festival 2020: Kajahääl ja jee (koostöös Serious Serious’ega)
                            span.artist
                                | Lolina, Serious Serious Showreel by Michaela Kisling, Till Megerle, Artjom Astrov, Practice Room with Court Rat, arxcharlaide & baribari mai, Marta & Edgar Vunsh, Ganna Bogomol jt.
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sakala 3
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p reede
                        p 20.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6788")
                            h3
                                span.subtitle
                                    | NU Performance Festival 2020: Queer-feministliku nalja hääl (koostöös Feministeeriumiga)
                            span.artist Queer womxn DJ collective, MajorDanger, James Lórien MacDonald, Querelle
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 21.11.2020
                        p 14:00
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6790")
                            h3
                                span.subtitle NU Performance Festival 2020: Kogukonna hääl
                            span.name Töötuba tulevastele ja praktiseerivatele she* DJ-dele, Queer womxn DJ collective
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Sveta Baar
                        p TASUTA / FREE ENTRANCE
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p laupäev
                        p 21.11.2020
                        p 18:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6792")
                            h3
                                span.subtitle NU Performance Festival 2020: Sünteetilise polüfoonia hääl
                            span.artist Doris Hallmägi, Nicolas Buzzi, Darkside, Nina Elektrichka
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
                    .col-xs-12.col-sm-2.col-lg-2
                        p pühapäev
                        p 22.11.2020
                        p 19:30
                    .col-xs-12.col-md-6.col-lg-6
                        a(href="/et/performance/6794")
                            h3
                                span.subtitle NU Performance Festival 2020: Hoole hääl
                            span.artist
                                | Hanna-Liisa Lavonen, Jaanika Arum, Helen Västrik, Katrin Enni, Helle Ly Tomberg, Ellen Vene, Andre Joosep Arming, Kleer Keret Tali “Värelev siinus”
                            span.name
                    .col-xs-6.col-md-2.col-lg-2
                        p.location Kanuti Gildi SAAL
                        p 8/12/35 EUR
                        p Kohapealt: 10/15 EUR
                    .col-xs-12.col-md-12.col-lg-12
                        hr
