extends /_templates/layout.pug

block content
    .container-fluid
        .row
            #front-carousel.event-banner.carousel.slide
                .carousel-inner(role="listbox")
                    figure(style='background-image: url("https://saal.entu.ee/api2/file-21116"); height: 778px;')
        .row.page-margin
            section.col-md-12
                h2 NU Performance Festival 2020: HÄÄL JA MIDAGI VEEL
                h4
                .video-sound
                    div
                        iframe(src="https://player.vimeo.com/video/473341204" width="100%" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="")
                        p
                            a(href="https://vimeo.com/473341204") NU Performance Festival 2020: HÄÄL JA MIDAGI VEEL
                            |  from
                            a(href="https://vimeo.com/kanutigildisaal") Kanuti Gildi SAAL
                            |  on
                            a(href="https://vimeo.com") Vimeo
                            | .
                p
                p
                    a(href="https://saal.entu.ee/api2/file-21553")
                        strong NUP 2020 ajaleht
                    br
                    br
                    | HÄÄL JA MIDAGI VEEL üritab haarata häält: töötada häälega, tunnustada häält, kasutada häält, kuulata häält ja sellesse sekkuda, võidelda hääle eest, nõustuda, häälega vaielda ja kaasa laulda, hääle taktis kehad liikuma panna ja uinuda.
                    br
                    br
                    | Anne Carson kirjutab essees „The Gender of Sound“ (Heli sugu): „Me otsustame peamiselt just inimeste tehtavate häälte järgi, kas nad on mõistuse juures või hullud, mehed või naised, head, kurjad, usaldusväärsed, masendunud, abiellumiskõlbulikud, suremas, kas nad tungivad meile kallale või mitte, kas nad on vaid pisut paremad kui loomad, Jumala sisendatud.“ Hääle kõigi tähenduste mõistmiseks tuleb olla tunnistajaks häälele kui sündmusele, millelegi, mis keerleb ümber kehade, eraldi olemusena, mis on omane kehale ja keelele.
                    br
                    br
                    | Ometi ei kuulu hääl kummalegi. See tegutseb autonoomselt – kõlab, viitab, paljastab, peidab, muretseb, rahustab, ärritab, loob, kahjustab ja ajab meid naerma. See resoneerib, hüpnotiseerib, kõlab kokku, sellel on oma kõlalisus – oma vaikused, rütmid ja intonatsioonid. Ükskõik kuidas see ka käitub ja liigub, hääl jääb harva märkamatuks. Hääl ei eemaldu kehast. Hääl avardab seda, kannab seda edasi, üritab seda välismaailmaga ühendada.
                    br
                    br
                    | Nii nagu keha on ka hääl oma poeesia ja poliitika, aktsentide ja dialektide, vigadega grammatika kütkes. Keel viivitleb suus, lipsab korraks välja lobisema, tema sõnavara on keeleotsal, ta kordab ja parandab end... Selle, mida keel peidab, ütleb välja keha. Häälega, olgu siis valju või vaiksega, teeme end kuuldavaks, olgu siis väljas, toas, ühiskonnas või poliitikas. Just hääle kaudu saab privaatne avalikuks.
                    br
                    br
                    | Tänavune festivaliprogramm seob kokku terve loominguliste väljenduste ja avalduste polüfoonia. See annab sõna hääle emotsionaalse, ühiskondliku ja poliitilise potentsiaali avamisele. Programmi kuulub luule, rütmi loomine, sünteetilised helid, sisse kirjutatud narratiivid ja ajaloolised kontekstid, huumor, tegevus, osalemine ja kollektiivne hääl, vaikus, ja – nagu pealkirigi vihjab – midagi veel. Nende erinevate seisukohtade kõrvutamine illustreerib seda, kuidas valdavaid narratiive, konstrueeritud soorolle ja valitsevat poliitilist retoorikat saab hääle performatiivsusega kahtluse alla seada. Väga erineva taustaga kunstnikud uurivad ja annavad uusi määratlusi tänapäeva kõneaktidele, töötavad läbi hääle- ja keelepiirid, nihutavad tähendusi ja identiteete.
                    br
                    br
                    | Kuigi suur osa festivali esinemistest ja kontsertidest toimub Kanuti Gildi SAALis, Sveta Baaris ja Sakala 3 hoones, saadab programmi ka IDA raadio saatesari. Programm NUPP pakub täiendavat pilguheitu, mis hõlmab ka festivali esinejate loomingu tutvustamist ja lähemalt selgitamist. Raadio kui meedium kannab hääle ja heli ühest kohast teise ning teeb nii võimalikuks mängida kõikvõimalike suhetega – elavate ja salvestatud, kohalolevate ja eemalviibivate, elavate ja surnutega ning nendega, kes kuulavad, ja nendega, kes ei kuula.
                    br
                    br
                    | Äsja tellitud ja varem valminud performance’eid, lugemisi, modulaarsüntesaatorite kompositsioone, protsessipõhiseid koostöid ja kontserte kombineerides häälestab festivali kese end hääle tehniliste, kontseptuaalsete, ent ka juhuslike suhete lainepikkusele.
                    br
                    br
                    | Mitmekesisuse mõttes on programm jaotatud eri peatükkideks, mis on teejuhiks neile, kes kaotavad end HÄÄLES JA MILLESKI VEEL.
                    br
                    | Egija Inzule, Margit Säde
                    br
                    br
                    strong Margit Säde
                    |  on Tallinnas ja Zürichis töötav sõltumatu kuraator ja kunstitöötaja. Kuraatori, haridustöötaja, produtsendi ja kunstniku rollide vaheldudes on tema peamisteks huvipakkuvateks teemadeks subjektiivsus, prekaarsus, kollektiivsus ja ka keel, inimpsüühika ning hääl. Oma ettevõtmistes rõhutab ta isealgatatud, koostööl ja protsessil põhinevat kunstipraktikat. 2017 – 2020 töötas ta Eesti Kunstiakadeemias Kaasaegse Kunsti magistriprogrammi õppekava juhi ja külalisdotsendina.
                    br
                    br
                    strong Egija Inzule
                    |  on kuraator ja Vilniuse Kunstiakadeemia Nida Art Colony (NAC) praegune juht Nidas, Leedus. Selleks et vastata NACi hübriidsele iseloomule, mis hõlmab endas nii residentuuriprogrammi, rahvusvahelise doktorikooli korraldamist, kunstiprogrammi kureerimist, üliõpilaste seminaride korraldamist ja NACi üldist haldamist, töötab Inzule protsesside arendamisel ja algatab produktsioone, mis lähtuvad ajaloolisest, geo- ja sotsiopoliitilisest analüüsist ja asukoha mõtestamisest, keskendudes selle koha olulisusele ja rollile.
                    br
                    | Ta on uurimus- ja residentuuriprogrammi Neringa Forest Architecture (Neringa Metsa Arhitektuur) kaasasutaja. Organistasioon keskendub ruumilistele ja materiaalsetele protsessidele, metsandusele ja politiika kujundamisele, et analüüsida metsa kui infrastuktuuri laiemat ulatust Põhja- ja Baltimaade regioonis.
                    br
                    br
                    strong
                        | Reede, 13.11 Kanuti Gildi SAAL
                        br
                        | Keha leidmise hääl
                p
                    | 18:30
                    br
                    | Eglė Budvytytė (Amsterdam-Vilnius) "Incantation Karaoke"
                    br
                    | (grupp 1)
                    br
                    | 19:30
                    br
                    | Egija Inzule (Riia-Zürich) & Margit Säde (Tallinn-Zürich)
                    br
                    | Gerry Bibby (Berlin) "Throwing Voice (Borrowed Time)"
                    br
                    | Jelena Glazova (Riia) "Greed”
                    br
                    | Eglė Budvytytė (Amsterdam-Vilnius) "Incantation Karaoke"
                    br
                    | (grupp 2)
                    br
                    br
                    br
                    strong
                        | Reede, 13.11 Sveta Baar
                        br
                        | Ühiste alguste hääl
                p
                    | 21:00 Uksed
                    br
                    | Nancy Nakamura Räpipunt: liina pääsuke (Väätsa-Viin), IRMELI (Tallinn), MAAKAS (Väätsa), Ookean (Väätsa-Tallinn)
                    br
                    | Yasmyn (Tallinn) "Guilty-Not-Guilty Pleasures”
                p
                    br
                    br
                    strong
                        | Laupäev, 14.11 Kanuti Gildi SAAL
                        br
                        | Rütmis lahustumise hääl
                p
                    | 21:30
                    br
                    | Michele Rizzo (Amsterdam) "Higher”
                    br
                    br
                    br
                    strong
                        | Pühapäev, 15.11 Kanuti Gildi SAAL
                        br
                        | Teisiku hääl
                p
                    | 19:30
                    br
                    | Erik Bünger (Berliin) "The Girl That Never Was"
                p
                    br
                    br
                    strong
                        | Esmaspäev, 16.11 Kanuti Gildi SAAL
                        br
                        | Viimase lootuse hääl
                p
                    | 19:30
                    br
                    | Sveta Grigorjeva (Tallinn) “TEKHNE”
                p
                    br
                    br
                    strong
                        | Teisipäev, 17.11 Kanuti Gildi SAAL
                        br
                        | Hääl läbi sajandite
                    |  (koostöös Nida Art Colony’ga)
                p
                    | 19:30
                    br
                    | Hiwa K (Sulaymaniyah-Berliin) “Chicago Boys: while we were singing they were dreaming...” / Nida versioon neo-liberalistlikust uurimusgrupist; esitavad Egija Inzule (Riia-Zürich) ja Vika Matuzaitė (Vilnius), amatöörkoori Smiltatė (Nida) sisendiga
                    br
                    | (Sissepääs tasuta, eelregistreerumisega)
                p
                    br
                    br
                    strong
                        | Kolmapäev, 18.11 Kanuti Gildi SAAL
                        br
                        | Mälu hääl
                p
                    | 19:30
                    br
                    | Ana Mendes (London-Stockholm) "Self-portrait”
                    br
                    | Lina Lapelyte (Vilnius) "The Best of: (ongoing)”
                p
                    br
                    br
                    strong
                        | Neljapäev, 19.11 Sakala 3
                        br
                        | Kajahääl ja jee
                    |  (koostöös Serious Serious’ega)
                p
                    | 19:00 Uksed
                    br
                    | Lolina (London)
                    br
                    | Serious Serious Showreel by Michaela Kisling, Till Megerle, Artjom Astrov (Viin-Berliin-Tallinn)
                    br
                    | Practice Room with Court Rat, arxcharlaide & baribari mai, Marta & Edgar Vunsh, Ganna Bogomol jt.
                p
                    br
                    br
                    strong
                        | Reede, 20.11 Kanuti Gildi SAAL
                        br
                        | Queer-feministliku nalja hääl
                    |  (koostöös Feministeeriumiga)
                p
                    | 19:30
                    br
                    | Queer womxn DJ collective (Vilnius)
                    br
                    | MajorDanger (Tallinn)
                    br
                    | James Lórien MacDonald (Helsingi) "I Got Online and Went Mad"
                    br
                    | Querelle (Kaunas)
                    br
                    br
                    br
                    strong
                        | Laupäev, 21.11 Sveta Baar
                        br
                        | Kogukonna hääl
                p
                    | 14:00 – 17:00 Töötuba tulevastele ja praktiseerivatele she* DJ-dele, Queer womxn DJ collective (Vilnius)
                    br
                    | (Osalemine tasuta, eelregistreerumisega)
                ul
                    li siin: she märgib kõiki, kes ennast naistena identifitseerivad
                p
                    br
                    br
                    strong
                        | Laupäev, 21.11 Kanuti Gildi SAAL
                        br
                        | Sünteetilise polüfoonia hääl
                p
                    | 19:30
                    br
                    | Doris Hallmägi (Tallinn) "How They Used to"
                    br
                    | Nicolas Buzzi (Zürich) "Us"
                    br
                    | Darkside (Tartu)
                    br
                    | Nina Elektrichka (Riia)
                p
                    br
                    br
                    strong
                        | Pühapäev, 22.11 Kanuti Gildi SAAL
                        br
                        | Hoole hääl
                p
                    | 19:30
                    br
                    | Hanna-Liisa Lavonen, Jaanika Arum, Helen Västrik, Katrin Enni, Helle Ly Tomberg,  Ellen Vene, Andre Joosep Arming, Kleer Keret Tali (Tallinn) “Värelev siinus”
                    br
                    br
                    br
                    strong NUPP IDA raadios
                    a(href="https://idaidaida.net/") idaidaida.net
                    br
                    br
                    | 13.11 / 15:00 NUPP: Ühiste alguste hääl (Margit Säde & Egija Inzule, liina pääsuke)
                    br
                    br
                    | 16.11 / 17:00 NUPP: Rütmis lahustudes (Margit Säde & Egija Inzule, Michele Rizzo)
                    br
                    br
                    | 17.11 / 14:00 NUPP: Hääl läbi sajandite (Egija Inzule & Vika Matuzaitė, Hiwa K)
                    br
                    br
                    | 18.11 / 16:00 NUPP: Kajahääl ja jee (Artjom Astrov, Lolina & külalised)
                    br
                    br
                    | 19.11 / 15:00 NUPP: Queer-feministliku nalja hääl (James MacDonald, Querelle, Aet Kuusik)
                    br
                    br
                    | 20.11 / 13:00 NUPP:  Sünteetilise polüfoonia hääl (Nicolas Buzzi & Doris Hallmägi)
                    br
                    br
                hr
                p
                    | Kuraatorid:
                    strong Margit Säde, Egija Inzule
                    br
                    | Korraldaja: Uue Performantsi Selts
                    br
                    | Kaaskorraldaja: Kanuti Gildi SAAL
                    br
                    | Visuaalne identiteet:
                    strong Jaan Evart, Moonika Maidre
                    br
                    | Festivali initsiaatorid:
                    strong Anders Härm, Priit Raud
                    br
                    | Toetajad ja partnerid:
                    br
                    | Eesti Kultuurkapital, Tallinna Kultuuriamet, Rootsi Suursaatkond Tallinnas, Feministeerium, IDA raadio, Nida Art Colony, SAALstuudio, Sakala 3, Serious Serious, Sveta Baar, NAC of Vilnius Academy of Arts jt.
                    br
                    br
                    br
                    | Korraldajad jätavad endile õiguse teha kavas muudatusi.
                p
