nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                .icon-bar
                .icon-bar
                .icon-bar
            a.navbar-brand.logo(href='/' + self.lang + '/')
                //- SIIA VAJA LOGO ALT TEKST STRAPIST
                img(src='/assets/images/saal_logo.svg', alt='LOGO ALT TEKST SIIA!')
                //p.season.visible-lg= t('.season') + ' ' + SAAL.season

        .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav.main-nav
                li(class= self.route == 'about' ? 'active' : undefined )
                    a(href='/' + self.lang + '/about') SAAL
                li(class= self.route == 'program' ? 'active' : undefined )
                    a(href='/' + self.lang + '/program') KAVA
                li(class= self.route == 'co_productions' ? 'active' : undefined )
                    a(href='/' + self.lang + '/co_productions') KAASPRODUKTSIOONID
                li(class= self.route == 'tours' ? 'active' : undefined )
                    a(href='/' + self.lang + '/tours') TUURID
                li(class= self.route == 'residency' ? 'active' : undefined )
                    a(href='/' + self.lang + '/residency') RESIDENTUURID
                li(class= self.route == 'projects' ? 'active' : undefined )
                    a(href='/' + self.lang + '/projects') PROJEKTID
                li(class= self.route == 'magazine' ? 'active' : undefined )
                    a(href='/' + self.lang + '/magazine') MAGASIN
                li(class= self.route == 'festivals' ? 'active' : undefined )
                    a(href='/' + self.lang + '/festivals') FESTIVALID
                li(class= self.route == 'contact' ? 'active' : undefined )
                    a(href='/' + self.lang + '/contact') INFO

            ul.nav.navbar-nav.navbar-right.social
                //- each locale in self.locales
                //-     if self.lang !== self.locale
                //-         li.lang
                //-             //- a(href='/'+self.locale+'/'+self.path)= t('lang.' + self.locale)
                //-             a(href='/'+self.locale+'/'+self.path)= self.locale

                each p, locale in self.otherLocalePaths
                    li.lang
                        //- a(href='/'+self.locale+'/'+self.path)= t('lang.' + self.locale)
                        //- p= locale + ' - ' + p
                        a(href=(p !== '/' ? p + '/' : '/'))= locale