.collapsible-element input {
    display: none;
}

.collapsible-element > .collapsible-content {
    display: none;
}

.team-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.contact-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.location-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.advisory-council-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.book-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.floorplans-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

.archive-collapsible-input:checked ~ .collapsible-content {
    display: block;
}

label {
    font-family: flyerblack,sans-serif
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    font-size: 1.65em;
    text-transform: uppercase;
    border-bottom: solid black 0.1em
    display: block
    margin-bottom: 1em
    background: rgb(210, 210, 210)
    padding: 0.5em
}

.collapsible-content {
    margin-left: 1em
    margin-right: 1em
    margin-bottom: 2em    
}
