.collapsible-element {
    margin-bottom: 1.5em
    position: relative
}

.collapsible-label {
    font-family: flyerblack,sans-serif
    text-transform: uppercase;
    background: rgb(220, 220, 220)
    font-size: 1.65em;
    font-weight: 600;
    line-height: 1.1;
    position: relative
    cursor: pointer
    padding: 0.5em
}

.collapsible-label::before {
    content: '+'
    position: absolute
    right: 0.5em
    top: 50%    
    transform: translateY(-50%);
}

.collapsible-element.active .collapsible-label::before {
    content: '-'    
}

.collapsible-element hr {
    margin: 0
}

.collapsible-content {
    background: rgb(239, 239, 239)
    position: relative
    height: 0
    overflow: hidden
    // transition: 0.5s
    padding: 0 1.5em 0 1.5em
}

.collapsible-content > *:first-child {
    padding-top: 0.8em
}

.collapsible-content > *:last-child {
    padding-bottom: 1em
}

.collapsible-element.active .collapsible-content {
    height: 100%
}
