extends /_templates/layout.pug

block content
    .container-fluid
        .row.page-margin
            section.col-md-12
                .programme.row
                    .col-xs-12.col-md-12
                        h2 Kaasproduktsioonid
                    .grid-row
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6871" ordinal="53")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-21635")
                            p.artist Henri Hütt & Algorütmid
                            p Cathexis
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6865" ordinal="54")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-21630")
                            p.artist Karolin Poska
                            p Sinu nirvaanale
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6577" ordinal="55")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-21071")
                            p.artist SIMONA GONELLA, PEADER KIRK
                            p KUHU MINEK
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6552" ordinal="56")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-20744")
                            p.artist eˉlektron
                            p Romeo & Julia #5
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6538" ordinal="57")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-20730")
                            p.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                            p Kas te olete oma kohaga rahul
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6532" ordinal="58")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-16539")
                            p.artist ÜÜve-Lydia Toompere, Siim Tõniste
                            p supersocial
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6376" ordinal="59")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-13618")
                            p.artist Alise Danovska, Henri Hütt, Ieva Kauliņa, Kārlis Krūmiņš
                            p KUNST
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6375" ordinal="60")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-17810")
                            p.artist Karl Saks
                            p Planet Alexithymia
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6276" ordinal="61")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7838")
                            p.artist LAURA VAN BERGEM, NETTI NÜGANEN
                            p Victoria saladus
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6199" ordinal="62")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7790")
                            p.artist Emer värk
                            p You Will See So Many Pretty Things
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6216" ordinal="63")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7681")
                            p.artist Maarin Mürk, Henri Hütt
                            p RESKRIPT
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6167" ordinal="64")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7666")
                            p.artist IGGY LOND MALMBORG
                            p Things in my mouth
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6099" ordinal="66")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-20759")
                            p.artist Mart Kangro
                            p ENNEMINEVIK
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6010" ordinal="67")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7473")
                            p.artist Madlen Hirtentreu
                            p Kliinik pärast paati
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6006" ordinal="68")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7360")
                            p.artist Mali Weil
                            p Forests | Unlearning
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6145" ordinal="69")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7368")
                            p.artist Francesca Grilli
                            p Sparks
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6012" ordinal="69")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7453")
                            p.artist Alissa Šnaider
                            p Weird tales I have tried to write
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5992" ordinal="70")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7549")
                            p.artist Kristina Norman
                            p Kergem kui naine
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5801" ordinal="70")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7069")
                            p.artist JUHA VALKEAPÄÄ, TAITO HOFFRÉN
                            p Pelko/Fear
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5849" ordinal="71")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7138")
                            p.artist
                                | The Biofilm Sisters  - Alise Madara Bokaldere, Mari-Liis Eskusson, Katrin Kreutzberg, Arolin Raudva
                            p All That Goes Right
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5810" ordinal="72")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7079")
                            p.artist Kädi Metsoja
                            p tegeele
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5738" ordinal="73")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6987")
                            p.artist Sigrid Savi
                            p Pushing Daisies
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5735" ordinal="74")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6953")
                            p.artist Adriano Wilfert Jensen
                            p feelings
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5519" ordinal="75")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6409")
                            p.artist kadrinoormets
                            p MAANDATUD TÕOTUS
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5429" ordinal="76")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6143")
                            p.artist Henri Hütt, Veiko Tubin
                            p Sisenemine sisenemisse
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5404" ordinal="77")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6127")
                            p.artist Raho Aadla, Age Linkmann, Arolin Raudva, Maarja Tõnisson
                            p OLMEULMAD 2
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5398" ordinal="78")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-6117")
                            p.artist Henri Hütt, Mihkel Ilus
                            p Kapriisid 3,5
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5125" ordinal="78")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-5943")
                            p.artist Henri Hütt, Mihkel Ilus
                            p Kapriisid: Eelvõim
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5312" ordinal="79")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-5743")
                            p.artist Henri Hütt, Mihkel Ilus
                            p Kapriisid III
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5238" ordinal="81")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-5755")
                            p.artist Siim Tõniste, Üüve-Lydia Toompere, Piret Jaaks
                            p PLAAN T
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5194" ordinal="83")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-5018")
                            p.artist MART KANGRO, JUHAN ULFSAK, EERO EPNER
                            p Workshop
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5102" ordinal="85")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-3367")
                            p.artist W A U H A U S
                            p Flashdance
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5068" ordinal="86")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-3304")
                            p.artist Maria Metsalu
                            p Mademoiselle x
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/5059" ordinal="87")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-3279")
                            p.artist Ann Mirjam Vaikla, Lærke Grøntved
                            p Uncanny You
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4685" ordinal="88")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2241")
                            p.artist Kädi Metsoja
                            p moiste
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4672" ordinal="89")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2216")
                            p.artist RAUNO ZUBKO
                            p Binaural Vision
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4964" ordinal="90")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-3076")
                            p.artist Karolin Poska
                            p thank you. you're welcome   THANK YOU   you're welcome. thank you
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4983" ordinal="91")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2704")
                            p.artist RIMA NAJDI
                            p Think much. Cry much.
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4775" ordinal="92")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2998")
                            p.artist NELE SUISALU, MAARJA TÕNISSON
                            p See on see
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4745" ordinal="93")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2496")
                            p.artist Rene Köster
                            p Masc
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4739" ordinal="94")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2341")
                            p.artist Raho Aadla
                            p Mina olen Ra
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4677" ordinal="95")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2221")
                            p.artist Manfred MIM
                            p Eesti ajalugu. Ehmatusest sündinud rahvas
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4635" ordinal="96")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-2160")
                            p.artist IGGY LOND MALMBORG
                            p Physics and Phantasma
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4557" ordinal="97")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1913")
                            p.artist Henri Hütt, Mihkel Ilus
                            p Kapriisid II
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4437" ordinal="98")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1790")
                            p.artist KRISTIAN SMEDS
                            p Just filming
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4504" ordinal="99")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1758")
                            p.artist Hendrik Kaljujärv
                            p OVEREXPOSURE
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4371" ordinal="100")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1660")
                            p.artist KARL SAKS
                            p Seisund ja disain
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4093" ordinal="200")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-456")
                            p.artist IGGY LOND MALMBORG
                            p b o n e r
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4096" ordinal="300")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-463")
                            p.artist Maike Lond Malmborg
                            p 10 journeys to a place where nothing happens*
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4153" ordinal="350")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1198")
                            p.artist RIINA MAIDRE, NERO URKE
                            p Skaala surm
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/2921" ordinal="400")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-989")
                            p.artist LOND MALMBORG
                            p 99 Words for Void
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/1952" ordinal="500")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-368")
                            p.artist ALISSA ŠNAIDER
                            p Three Left Hours (everybody´s piece)
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/3844" ordinal="600")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-952")
                            p.artist RENZO VAN STEENBERGEN, JUHA VALKEAPÄÄ, EMER VÄRK
                            p 2341 AD
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/4280" ordinal="650")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1310")
                            p.artist Henri Hütt
                            p Rhythm is a Dancer
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/3842" ordinal="700")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-1103")
                            p.artist HENRIK KALMET
                            p A Festival Piece ehk meeleheitlik katse pälvida festivalikutse
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6063")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-7453")
                            p.artist Alissa Šnaider
                            p Weird tales I have tried to write
                        a.col-xs-12.col-sm-4.col-md-3.col-lg-3.co-production(href="/et/performance/6478")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-463")
                            p.artist Maike Lond Malmborg
                            p 10 journeys to a place where nothing happens* - videosalvestus
