extends /_templates/layout.pug
include /_templates/mixins.pug

block content
    .container-fluid
        section.programme.row.page-margin
            .col-md-12
                h2 Residentuurid
            .grid-row
                - var events = self.data.events.filter(e => e.type === 'residency').sort((a, b) => new Date(b.start_time)-new Date(a.start_time))
                if events && events.length
                    each event in events

                        a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6909")
                            img.img-responsive(src="https://saal.entu.ee/api2/file-21666")
                            p
                                +dateFromTo(event.start_time, event.end_time)
                            p
                                span.artist= event.resident
                                span.name= event[`name_${self.locale}`]
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6724")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-20996")
                //-     p 01.10.2020—31.10.2020
                //-     p
                //-         span.artist Urmas Lüüs
                //-         span.name Residentuur Püha Vaimu SAALis
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6569")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-20749")
                //-     p 07.07.2020—04.08.2020
                //-     p
                //-         span.artist Hanna Kritten Tangsoo, Markus Daßau
                //-         span.name Residentuur Püha Vaimu SAALis
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6316")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7864")
                //-     p 23.02.2020—01.03.2020
                //-     p
                //-         span.artist Farah Saleh
                //-         span.name WHAT DOES THE SPACE KNOW
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6319")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7860")
                //-     p 04.02.2020—04.03.2020
                //-     p
                //-         span.artist Keithy Kuuspu, Georgina Martina
                //-         span.name Püha Vaimu SAALi residentuur
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6288")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7843")
                //-     p 27.01.2020—16.02.2020
                //-     p
                //-         span.artist LIZA BALIASNAJA
                //-         span.name TRIEB
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6235")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7785")
                //-     p 01.12.2019—31.12.2019
                //-     p
                //-         span.artist Kädi Metsoja
                //-         span.name Püha Vaimu SAALi residentuur
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6234")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7789")
                //-     p 04.11.2019—18.12.2019
                //-     p
                //-         span.artist Marie Ursin, Alexandra Tveit
                //-         span.name Skogholtet (ja teised lood)
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/6189")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7705")
                //-     p 01.10.2019—30.10.2019
                //-     p
                //-         span.artist Jette Loona Hermanis
                //-         span.name Püha Vaimu SAALi residentuur
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5938")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7250")
                //-     p 12.05.2019—22.05.2019
                //-     p
                //-         span.artist Radouan Mriziga
                //-         span.name cⵜⴰⴼⵓⴽⵜ “TAFUKT” (the sun)
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5854")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7133")
                //-     p 01.05.2019—12.05.2019
                //-     p
                //-         span.artist Maud Blandel
                //-         span.name The sound of entertainment
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5843")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7119")
                //-     p 01.04.2019—30.04.2019
                //-     p
                //-         span.artist Henri Hütt, Tencu
                //-         span.name !i
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5787")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7032")
                //-     p 08.03.2019—13.03.2019
                //-     p
                //-         span.artist JUHA VALKEAPÄÄ, TAITO HOFFRÉN
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5798")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-7053")
                //-     p 01.03.2019—31.03.2019
                //-     p
                //-         span.artist Judith Parts, Jari Matsi
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5723")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6924")
                //-     p 03.02.2019—03.03.2019
                //-     p
                //-         span.artist ERIK ALALOOGA
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5691")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6776")
                //-     p 06.12.2018—06.01.2019
                //-     p
                //-         span.artist ADRIANO WILFERT JENSEN
                //-         span.name feelings
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5683")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6708")
                //-     p 01.12.2018—31.12.2018
                //-     p
                //-         span.artist JARMO REHA
                //-         span.name InBreeding
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5475")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-6200")
                //-     p 01.09.2018—30.09.2018
                //-     p
                //-         span.artist NETTI NÜGANEN
                //-         span.name müüt
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5290")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-5025")
                //-     p 17.04.2018—17.05.2018
                //-     p
                //-         span.artist Hazel Barstow, Maret Tamme
                //-         span.name RÅNING: MASINA KOREOGRAAFIA
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5224")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-4935")
                //-     p 01.03.2018—31.03.2018
                //-     p
                //-         span.artist Hanna Junti, Doris Tislar
                //-         span.name small talk
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5115")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3424")
                //-     p 01.12.2017—31.12.2017
                //-     p
                //-         span.artist SANDRA Z
                //-         span.name SPLIT
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5093")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3344")
                //-     p 06.11.2017—09.12.2017
                //-     p
                //-         span.artist OLIVER KULPSOO
                //-         span.name LED ja hõõgniit
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/5084")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-3325")
                //-     p 01.10.2017—31.10.2017
                //-     p
                //-         span.artist ÜÜVE-LYDIA TOOMPERE, SIIM TÕNISTE, PIRET JAAKS
                //-         span.name Das Auto
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4774")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-2481")
                //-     p 07.05.2017—06.06.2017
                //-     p
                //-         span.artist RIMA NAJDI
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4566")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1890")
                //-     p 01.02.2017—28.02.2017
                //-     p
                //-         span.artist KAROLIN POSKA
                //-         span.name PLAGIN
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4565")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1879")
                //-     p 01.01.2017—31.01.2017
                //-     p
                //-         span.artist JOANNA KALM
                //-         span.name Raffaello - ütleb rohkem kui tuhat sõna
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4539")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1786")
                //-     p 01.12.2016—31.12.2016
                //-     p
                //-         span.artist Marit Sirgmets
                //-         span.name Eufooria
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4368")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1559")
                //-     p 01.09.2016—30.09.2016
                //-     p
                //-         span.artist Emer Värk
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4336")
                //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                //-     p 01.08.2016—14.08.2016
                //-     p
                //-         span.artist Iggy Lond Malmborg
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4335")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1461")
                //-     p 11.07.2016—14.08.2016
                //-     p
                //-         span.artist Catalina Insignares
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4334")
                //-     img.img-responsive(src="/assets/images/placeholder.jpg")
                //-     p 27.06.2016—10.07.2016
                //-     p
                //-         span.artist Hendrik Kaljujärv
                //-         span.name Hendrik Kaljujärv
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/4256")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-1250")
                //-     p 01.04.2016—30.04.2016
                //-     p
                //-         span.artist KARL SAKS
                //-         span.name Seisund ja disain
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/3964")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-234")
                //-     p 01.02.2016—29.02.2016
                //-     p
                //-         span.artist MART KANGRO
                //-         span.name Hullud jutud
                //- a.col-xs-12.col-sm-6.col-md-3.col-lg-3.resident(href="/et/resident/3965")
                //-     img.img-responsive(src="https://saal.entu.ee/api2/file-262")
                //-     p 01.02.2016—29.02.2016
                //-     p
                //-         span.artist MINNA HINT, VERONIKA VALLIMÄE, LILLI-KRÕÕT REPNAU
                //-         span.name Error error eR ror err or e rRor e rr Or e r r o R
