extends /_templates/layout.pug

block content

    .container-fluid#login_buttons

        a.btn.btn-primary.text-uppercase.h3(onClick = "loginWithProvider('google')") google
        a.btn.btn-primary.text-uppercase.h3(onClick = "loginWithProvider('facebook')") facebook
        a.btn.btn-primary.text-uppercase.h3(onClick ="LogOut()") logi välja
        a.btn.btn-primary.text-uppercase.h3(onClick ="GetUserInfo()") get me

    style.
        #login_buttons {
            margin-top: 300px}